//sources
$fontPrincipal: "Inter", sans-serif;

// Base colors
$color-primary: #151414; // Main color
$color-white: #fff; // White
$color-black: #000; // Black

// Gray tones
$color-dark-gray: #333; // Dark gray
$color-gray: #666; // Medium gray
$color-light-gray: #ccc; // Light gray
$color-light-gray-2: #e8e8e8; // Lighter gray
$color-light-background: #f5f5f5; // Light background
$color-search-background: #ecebeb; // Search background

// Teal tones
$color-teal: #447674; // Dark teal
$color-soft-teal: #648a87; // Soft teal
$color-light-teal: #93b9b6; // Light teal
$color-deep-teal: #243c3a; // Deep teal